* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
}

html,
body {
    height: 100%;    
}

body {
    min-height: 100%;
    background: #fff;
    color: #333;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}


.cf:before,
.cf:after {
    content: " "; 
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.charts-table-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 11px;
}

.charts-table {
    width: 100%;
    height: 100%;
}


/* Main page */
.main-page .charts-table td {
    width: 25%;
    padding: 0 11px;
    vertical-align: bottom;
}

.main-page .chart-wrapper {
    position: relative;
}

.main-page .chart .chart-container { 
  width: 100%;
  position: relative;
}

.main-page .chart-title {
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 14px;
    line-height: 14px;
}

/* Gauge chart */
.main-page .chart-gauge .chart-container {
    height: 120px;
}

/* 3D axises chart */
.main-page .chart-axises .chart-axises-positive {
    width: 50%;
    float: right;
    padding-left: 11px;
}
.main-page .chart-axises .chart-axises-negative {
    width: 50%;
    float: left;
    padding-right: 11px;
}
.main-page .chart-axises .chart-axis-wrapper {
    position: relative;
}
.main-page .chart-axises .chart-axises-positive .chart-axis-wrapper {
    margin-right: 22px;
    padding-right: 1px;
    border-right: 1px solid #eee;
}
.main-page .chart-axises .chart-axises-negative .chart-axis-wrapper {
    margin-left: 28px;
    padding-left: 1px;
    border-left: 1px solid #eee;
}
.main-page .chart-axises .chart-title {
    position: relative;
    top: 11px;
}
.main-page .chart-axises .chart-axis-axis {
    position: relative;
    height: 16px;    
    font-size: 16px;
    line-height: 16px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.main-page .chart-axises .chart-axis-axis.hidden {
    background: transparent;
}

.main-page .chart-axises .chart-axises-positive .chart-axis-axis {
    border-radius: 0 3px 3px 0;
}
.main-page .chart-axises .chart-axises-negative .chart-axis-axis {
    float: right;
    border-radius: 3px 0 0 3px;
}
.main-page .chart-axises .chart-x-axis {
    background: red;
}
.main-page .chart-axises .chart-y-axis {
    background: green;
}
.main-page .chart-axises .chart-z-axis {
    background: blue;
}
.main-page .chart-axises .chart-axis-val {
    position: absolute;
    top: -1px;
    width: 30px;  
    white-space: pre;
}
.main-page .chart-axises .chart-axises-positive .chart-axis-val {
    right: -33px;
}
.main-page .chart-axises .chart-axises-negative .chart-axis-val {
    left: -39px;
    text-align: right;
}
.main-page .chart-axises .chart-legend {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15px;
    list-style: none outside;
}
.main-page .chart-axises .chart-legend li {
    margin: 8px 0;
    width: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
}
.main-page .chart-axises .chart-legend li:last-child {
    margin-bottom: 0;
}

/* X & Y chart */
.main-page .chart-axis .chart-container {
    position: relative;
    height: 146px;
}
.main-page .chart-axis .chart-axis-wrapper {
    background: #e0e0e0;
    border-radius: 2px;
}
.main-page .chart-axis .chart-axis-wrapper-x {
    position: absolute;
    top: 77px;
    left: 0;
    width: 100%;    
}
.main-page .chart-axis .chart-axis-wrapper-y {
    position: absolute;
    top: 11px;
    left: 50%;
    margin-left: -9px;
    height: calc(100% - 33px);
    width: 18px;
}
.main-page .chart-axis .chart-axis-axis {
    background: red;
    border-radius: 2px;
}
.main-page .chart-axis .chart-axis-val {
    position: absolute;
    width: 100px;      
    text-align: center;
    font-size: 20px;
    line-height: 20px; 
}
.main-page .chart-axis .chart-axis-min-val,
.main-page .chart-axis .chart-axis-max-val {
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    color: #999;
}
.main-page .chart-axis .chart-axis-wrapper-x .chart-axis-axis {
    height: 18px;
}
.main-page .chart-axis .chart-axis-wrapper-x .chart-axis-val {
    top: -30px;
    left: 50%;    
    margin-left: -60px;        
}
.main-page .chart-axis .chart-axis-wrapper-x .chart-axis-min-val,
.main-page .chart-axis .chart-axis-wrapper-x .chart-axis-max-val {
    top: 22px;
}
.main-page .chart-axis .chart-axis-wrapper-x .chart-axis-max-val {
    right: 0;
}
.main-page .chart-axis .chart-axis-wrapper-y .chart-axis-axis {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.main-page .chart-axis .chart-axis-wrapper-y .chart-axis-val {
    top: 50%;
    left: 50%;
    margin-left: 19px;
    text-align: left;
    margin-top: -10px;
}
.main-page .chart-axis .chart-axis-wrapper-y .chart-axis-min-val {
    bottom: 0;
}
.main-page .chart-axis .chart-axis-wrapper-y .chart-axis-min-val,
.main-page .chart-axis .chart-axis-wrapper-y .chart-axis-max-val {
    left: 0;
    width: 60px;
    margin-left: -124px;
    text-align: right;
}
.main-page .chart-axis .chart-title {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
}

/* Label chart */
.main-page .chart-label .chart-container {    
    height: 126px;    
    line-height: 100px;    
    padding-top: 26px;
    text-align: center;
    font-size: 42px;
}

/* Disabled chart */
.main-page .chart-disabled {
    overflow: hidden;
}
.main-page .chart-disabled .chart-title {    
    position: relative;
    top: 60px;
    height: 138px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: #ccc;
    font-weight: 700;
}
.main-page .chart-disabled .chart-on {
    font-weight: 400;
    margin-top: 11px;
    font-size: 14px;
    line-height: 14px;
}

/* Stats page */
.stats-page .charts-table {
    height: 100%;
}


@media (max-height: 520px) {
  .main-page .chart-title {
    font-size: 12px;
    line-height: 12px;
  }  
  .main-page .chart-axis-axis {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
  }
  .main-page .chart-legend li {
    font-size: 14px;
    line-height: 14px;
  }
}