* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
}

html,
body {
    height: 100%;    
}

body {
    min-height: 100%;
    background: #fff;
    color: #333;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}


.cf:before,
.cf:after {
    content: " "; 
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.charts-table-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 11px;
}

.charts-table {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}


/* Main page */
.main-page .charts-table td {
    width: 23.3%;
    padding: 0 11px;
}

.main-page .chart-wrapper {
    position: relative;
    vertical-align: top;
}

.main-page .chart {
    vertical-align: top;
}
.main-page .chart .chart-container { 
  width: 100%;
}

.main-page .chart-title {
    position: absolute;
    left: 0;
    bottom: -28px;
    width: 100%;
    height: 28px;
    vertical-align: top;
    text-align: center;
    color: #666;
    font-size: 14px;
    line-height: 14px;
}


/* Axises chart */
.main-page .chart-axises .chart-axises-positive {
    width: 50%;
    float: right;
    padding-left: 11px;
}
.main-page .chart-axises .chart-axises-negative {
    width: 50%;
    float: left;
    padding-right: 11px;
}


.main-page .chart-axis-wrapper {
    position: relative;
}
.main-page .chart-axises-positive .chart-axis-wrapper {
    padding-right: 22px;
}
.main-page .chart-axises-negative .chart-axis-wrapper {
    padding-left: 28px;
}

.main-page .chart-axis {
    position: relative;
    height: 16px;    
    font-size: 16px;
    line-height: 16px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.main-page .chart-axis.hidden {
    background: transparent;
}

.main-page .chart-axises-positive .chart-axis {
    border-radius: 0 3px 3px 0;
}
.main-page .chart-axises-negative .chart-axis {
    float: right;
    border-radius: 3px 0 0 3px;
}
.main-page .chart-x-axis {
    background: red;
}
.main-page .chart-y-axis {
    background: green;
}
.main-page .chart-z-axis {
    background: blue;
}

.main-page .chart-axis-val {
    position: absolute;
    top: -1px;
    width: 30px;  
    white-space: pre;
}
.main-page .chart-axises-positive .chart-axis-val {
    right: -33px;
}
.main-page .chart-axises-negative .chart-axis-val {
    left: -39px;
    text-align: right;
}

.main-page .chart-legend {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15px;
    list-style: none outside;
}
.main-page .chart-legend li {
    margin: 8px 0;
    width: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
}

.main-page .chart-legend li:last-child {
    margin-bottom: 0;
}

.main-page .chart-label .chart-container {
    font-size: 32px;
    line-height: 72px;
    height: 72px;
    text-align: center;
}

/* Stats page */
.stats-page .charts-table {
    height: 100%;
}


@media (max-height: 520px) {
  .main-page .chart-title {
    font-size: 12px;
    line-height: 12px;
  }

  .main-page .chart-gauge .chart-container {
    height: 110px;
  }

  .main-page .chart-label .chart-container {
    font-size: 22px;
  }
  .main-page .chart-axis {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
  }
  .main-page .chart-legend li {
    font-size: 14px;
    line-height: 14px;
  }
  .main-page .chart-label + .chart-title {
    bottom: -25px;
  }
}